<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anaglyph Result</title>
</head>

<style>
    img {
      width: 740px;
      height: 740px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
    <img src = "{{url_for('static', filename = 'anaglyph.jpg')}}" class="center">
</body>
</html>